<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="http://www.gravatar.com/avatar/84c28e5b3746afc8313e132a2b213235" >
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> <a href="blueorchidweb.com/feed" title="Subscribe to my feed"><img src="/feed-icon.gif" style="border:0"/></a>
		<br>
		<a title="Subscribe to my feed" href="blueorchidweb.com/feed" style="text-decoration:none;"><span style="border:1px solid;border-color:#FC9 #630 #330 #F96;padding:0 3px;font:bold 10px verdana,sans-serif;color:#FFF;background:#F60;margin:0;">XML</span></a>
		<br>
		<a href="http://fusion.google.com/add?feedurl=blueorchidweb.com/feed"><img src="http://gmodules.com/ig/images/plus_google.gif" alt="Google Reader or Homepage" border="0"></a><br>                        
      </p>
    </div>
  </div>
</footer>
