<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="http://www.gravatar.com/avatar/84c28e5b3746afc8313e132a2b213235">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
       <a href="http://feeds.feedburner.com/BlueOrchidBlog" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a><br><a href="http://feeds.feedburner.com/BlueOrchidBlog" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a>
      </p>
    </div>
  </div>
</footer>

