// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('#{$path--rel}/logo-sq.jpg');
	background-repeat: no-repeat;
	position: left;
	background-size: 10%;
	margin-bottom: em(50px);
}