// ==========================================================================
// Sticky footer styles
// ==========================================================================

/*@include mq(medium) {
	html, 
	body {
		height: 100%;
	}
	.wrapper {
		min-height: 100%;
		margin: 0 auto -10em;
	}
	footer, 
	.push {
		height: em(197px);
	}
}*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}